version: '3.6'
services:
  web:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    ports:
      - '8081:80'
      - '8443:443'
      - '2222:22'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://localhost:8081'
    volumes:
      - './gitlab/config:/etc/gitlab'
      - './gitlab/logs:/var/log/gitlab'
      - './gitlab/data:/var/opt/gitlab'
    shm_size: '256m'

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - '5672:5672'   # AMQP
      - '15672:15672' # 管理Web
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  gitlab-runner-register:
    image: gitlab/gitlab-runner:latest
    container_name: runner_register
    env_file: .env
    entrypoint:
      - /usr/bin/gitlab-runner
      - register
      - --non-interactive
      - --url
      - "${CI_SERVER_URL}"
      - --token
      - "${CI_SERVER_TOKEN}"
      - --config
      - /etc/gitlab-runner/config.toml
    volumes:
      - runner-config:/etc/gitlab-runner
    restart: "no"

  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    container_name: gitlab_runner_app
    depends_on:
      - gitlab-runner-register
    volumes:
      - runner-config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    command: ["run", "--user=gitlab-runner", "--working-directory=/home/gitlab-runner"]

volumes:
  rabbitmq_data:
  runner-config:
